body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(51, 0, 48);
}

h1 {
    text-align: center;
    color: rgb(219, 116, 212);
    font-size: 50px;
    margin-top: 5%;
}

#jeuGlobal {
    text-align: center;
    font-size: 20px;
    color: rgb(51, 0, 48);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5%;
    margin: 5%;
}

.jeu {
    border: solid rgb(219, 116, 212) 4px;
    border-radius: 10px;
    padding: 10px;
    margin: 50pxpx;
    text-align: center;

}

#xpalindromes {
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: 250px;
    position: relative;
    left: 33%;
    border: solid rgb(241, 222, 253) 4px;
    border-radius: 50%;
}


#input {
    color: rgb(51, 0, 48);
    background-color: aqua;
    border: solid 1px color(51, 0, 48);
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    color: rgb(51, 0, 48);
    background-color: aqua;
    border: solid 1px color(51, 0, 48);
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button:hover {
    color: aqua;
    background-color: rgb(51, 0, 48);
}